html
  head
    title='Storing Judgement'
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    if judgement == "0"
      div(class="alert alert-warning text-center")
        h1 Success!!
        h1 Judgement: non-relevant
    else if judgement == "1"
        div(class="alert alert-success text-center")
            h1 Success!!
            h1 Judgement: relevant
    else
        div(class="alert alert-info text-center")
            h1 Success!!
            h1 Judgement: redundant/duplicate